#block_search{
flex-direction: column;
}
#block_search >div:first-child{
    align-self: flex-start;
}
#block_search >div:last-child{
    align-self: flex-end;
}
.title_text_head{
    line-height: 1.2em;
}
.block_with_map{
    position: relative;
}
.button_map_wrap{
    position: absolute;
    top: 0px;
    left: 5px;
    z-index: 100;
    width: 100%;

}
.button_map_wrap > div{
    background: inherit;



}
.button_map_wrap > div  button{
    border: 1px solid rgba(138, 138, 138, 0.63);
    border-radius: 8px;
    opacity: 1;
    padding:  8px;
}
.wrapper_button{
    gap: 5px;
}
.text_center > div{
align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.legend_item{
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 10px;
}
.search_item{
    align-self: flex-end;

    display: flex
;
    justify-content: end;
    position: relative;
}
.search_item > div{
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
}
